.cards {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(5, 430px);
  gap: 10px;
  justify-content: center;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
