.card {
  padding: 35px 20px;
  background-image: url("https://phonoteka.org/uploads/posts/2022-02/thumbs/1645076369_5-phonoteka-org-p-list-pergamenta-fon-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 16px;
  text-align: center;
  color: black;

  /* background-color: rgb(193, 156, 80);  // у випадку якщо не відобразиться фонова картинка*/
}

.card__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 8px;
}

.card__img {
  width: 100px;
  height: 80px;
  margin: auto;
  border: 1px solid gray;
  margin-bottom: 10px;
}

span {
  font-weight: 500;
}
